:root {
  --purple-100: hsl(254, 88%, 90%);
  --purple-500: hsl(256, 67%, 59%);

  --yellow-100: hsl(31, 66%, 93%);
  --yellow-500: hsl(39, 100%, 71%);

  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 7%);
}

body {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.125rem;       /* 18px */
  background-color: var(--white);
  color: var(--black);
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-weight: 500; /* شيل px */
}

p {
  font-size: 1.125rem; /* 18px */
}

.parent {
  display: grid;
  grid-template-columns: 1fr; /* mobile-first */
  grid-template-rows: auto;
  gap: 10px;
  max-width: 90%;
  margin: 0 auto;
  padding-inline: 1rem;
}

/* Elements styling */
.social {
  background-color: var(--purple-500);
  border-radius: 10px;
  text-align: center;
}

.social h1 {
  color: var(--white);
}

.social span {
  color: var(--yellow-500);
}

.Manage {
  background-color: var(--white);
  border-radius: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

.Maintain {
  background-color: var(--yellow-500);
  border-radius: 10px;
  text-align: center;
}

.schedule {
  background-color: var(--purple-100);
  border-radius: 10px;
  text-align: center;
}

.Grow {
  background-color: var(--purple-500);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Grow h3 {
  color: var(--white);
}

.faster {
  border: 1px solid #ddd;
  border-radius: 10px;
  text-align: center;
}

.Create {
  background-color: var(--yellow-100);
  border-radius: 10px;
  padding-inline: 1.25rem; /* 20px */
  text-align: center;
}

.Create span {
  color: var(--purple-500);
}

.Write {
  background-color: var(--yellow-500);
  border-radius: 10px;
  text-align: center;
}

/* ----- Responsive Design (Mobile-first) ----- */

/* Tablets & Desktop */
@media screen and (min-width: 426px) {
  .parent {
    grid-template-columns: repeat(4, 1fr);
  }

  .Create {
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
  }

  .social {
    grid-column: 2 / span 2;
    grid-row: 1 / span 2;
  }

  .Manage {
    grid-column: 2 / span 1;
    grid-row: 3;
  }

  .Maintain {
    grid-column: 3 / span 1;
    grid-row: 3;
  }

  .schedule {
    grid-column: 4 / span 1;
    grid-row: 1 / span 3;
  }

  .Grow {
    grid-column: 3 / span 2;
    grid-row: 4;
  }

  .faster {
    grid-column: 2 / span 1;
    grid-row: 4;
  }

  .Write {
    grid-column: 1 / span 1;
    grid-row: 3 / span 2;
  }
}
